/* USAR COMO REFERENCIA */
/* https://brittanychiang.com/#content */
$dark-blue: rgba(28, 32, 37, 1);
$dark-blue-transparent: rgba(28, 32, 37, 0.4);
$light-green: #64ffda;
$light-green-tint: rgba(100,255,218,0.1);

$default-transition: all 0.25s cubic-bezier(.17,.67,.83,.67);

$nav-height: 100px;
$nav-scroll-height: 70px;

.homepage-capsule {
    background-color: #fff;
    min-height: 100vh;
    width: 100%;
}

.homepage-nav {
    display: flex;
    justify-content: space-around;
    padding: 0 40px;
    height: $nav-height;
    background-color: $dark-blue-transparent;
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;

    /* TODO: adicionar essa boxshadow quando scollar para cima */
    /* box-shadow: 0 10px 15px -10px rgba(7, 7, 27, 0.5); */
}

.homepage-logo-display {
    display: inherit;
    align-items: center;
}

.homepage-logo-display img {
    width: 42px;
    height: 42px;
}

.homepage-logo-display h2, .homepage-logo-display img, .homepage-logo-display {
    text-decoration: none;
    color: #fff;
}

.homepage-link-colection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.homepage-link-colection a, .homepage-link-colection a:visited {
    text-decoration: none;
    margin: 0 20px;
    color: #fff;
    transition: $default-transition;
}

.homepage-link-colection a, .homepage-link-colection a:visited {
    font-size: 14px;
}

.homepage-link-colection-button {
    color: #fff;
    background-color: $light-green-tint;
    border-radius: 5px;
    padding: 11px 20px;
}

.pt-175 {
    padding-top: 175px;
}

.homepage-body {
    background-color: $dark-blue;
    display: flex;
    justify-content: space-around;
}

.homepage-presentation-display {
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: initial;
    flex-direction: column;
}

.link-stilizer, .link-stilizer:visited {
    text-decoration: none;
    color: $light-green;
    font-weight: 500;
}

.homepage-presentation-display h1 {
    color: #fff;
    line-height: 1.1;
    font-size: 60px;
    margin: 0px 0px 16px 4px;
}

.homepage-presentation-text {
    color: #fff;
    line-height: 1.1;
    font-size: 20px;
    margin: 0px 0px 12px 4px;
    font-weight: normal;
}

.homepage-presentation-display h3 {
    color: #fff;
    line-height: 1.1;
    font-size: 35px;
    margin: 0px 0px 0px 4px;
}

.homepage-presentation-display p {
    color: rgb(189, 189, 189);
    max-width: 540px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.5;
    margin: 34px 0px 0px 4px;
}

.homepage-emphasis {
    color: $light-green;
}

.homepage-projects-display {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-evenly;
}

@media (max-width: 768px) {
    .homepage-link-colection {
        display: none;
    }
    
    .homepage-burguer-button {
        display: block;
    }
}